*{
  box-sizing: border-box;
}

.container {
max-width: 50em;
margin: 0 auto;
}

.aside {
  width: 15em;

}
main {
  display: flex;
  padding: 0 1em;
}

@media only screen and (max-width: 40em) {
  main {
    flex-direction: column-reverse;
  }

  aside {
    width: 100%;
    margin-bottom: 2em;
  }

}


.App-header {
  background: linear-gradient(to bottom, lightblue, blue);
padding: 2em 0;
margin-bottom: 3em;
}


